<div class="{{ j3.classes(classes) }}">
  {% if title %}
    <h3 class="title module-title">{{ title }}</h3>
  {% endif %}
  <div class="module-body">
    {% if text %}
      <div class="newsletter-text">{{ text }}</div>
    {% endif %}
    <div class="newsletter-form">
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <div class="input-group">
          <input type="text" name="email" placeholder="{{ placeholder }}" class="form-control newsletter-email"/>
          <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" {% if (buttonType == "icon") and (tooltipStatus) %}data-toggle="tooltip" data-tooltip-class="newsletter-tooltip-{{ module_id }}" data-placement="{{ tooltipPosition }}" title="{{ tooltipText }}"{% endif %} data-loading-text="<span>{{ buttonText }}</span>"><span>{{ buttonText }}</span></button>
            </span>
        </div>
        {% if captcha %}
        <div class="input-captcha">{{ captcha }}</div>
        {% endif %}
        {% if agree_data %}
          <div class="checkbox">
            <label>
              <input type="checkbox" name="agree" value="1"/>
              {{ agree_data.text }}
            </label>
          </div>
        {% endif %}
      </form>
    </div>
  </div>
</div>
