{% if display == 'tabs' %}
  <div class="tabs-container {{ j3.classes(classes) }}">
    <ul class="nav nav-tabs">
      {% for item in items %}
        <li class="{{ j3.classes(item.tab_classes) }}">
          {% if item.tabType == 'link' %}
            <a href="{{ item.link.href }}" {{ j3.linkAttrs(item.link) }}>{{ item.title }}</a>
          {% else %}
            <a href="#{{ item.id }}" data-toggle="tab">{{ item.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% for item in items %}
        <div class="{{ j3.classes(item.classes) }}" id="{{ item.id }}">
          <div class="block-body expand-block">
            <div class="block-wrapper">
              <div class="block-content {% if item.expandButton %}expand-content{% endif %}">
                {{ item.content }}
                {% if item.expandButton %}
                  <div class="block-expand-overlay"><a class="block-expand btn"></a></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% elseif display == 'accordion' %}
  <div class="panel-group {{ j3.classes(classes) }}">
    {% for item in items %}
      <div class="{{ j3.classes(item.classes) }}">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="#{{ item.id }}" class="accordion-toggle collapsed" data-toggle="collapse" aria-expanded="false">
              {{ item.title }}
              <i class="fa fa-caret-down"></i>
            </a>
          </h4>
        </div>
        <div class="{{ j3.classes(item.panel_classes) }}" id="{{ item.id }}">
          <div class="block-body expand-block">
            <div class="block-wrapper">
              <div class="panel-body block-content {% if item.expandButton %}expand-content{% endif %}">
                {{ item.content }}
                {% if item.expandButton %}
                  <div class="block-expand-overlay"><a class="block-expand btn"></a></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <div class="{{ j3.classes(classes) }}">
    {% for item in items %}
      <div class="{{ j3.classes(item.classes) }}">
        {% if item.title %}
        <h3 class="title module-title">{{ item.title }}</h3>
        {% endif %}
        <div class="block-body expand-block">
          <div class="block-wrapper">
            <div class="block-content {% if item.expandButton %}expand-content{% endif %}">
              {{ item.content }}
              {% if item.expandButton %}
                <div class="block-expand-overlay"><a class="block-expand btn"></a></div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
