<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Slide Transitions - Slider Revolution</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>

  <!-- LOADING FONTS AND ICONS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" property="stylesheet" type="text/css" media="all"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet" property="stylesheet" type="text/css" media="all"/>

  <link rel="stylesheet" type="text/css" href="{{ catalog }}catalog/view/theme/journal3/lib/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
  <link rel="stylesheet" type="text/css" href="{{ catalog }}catalog/view/theme/journal3/lib/revolution/fonts/font-awesome/css/font-awesome.min.css">

  <!-- REVOLUTION STYLE SHEETS -->
  <link rel="stylesheet" type="text/css" href="{{ catalog }}catalog/view/theme/journal3/lib/revolution/css/settings.css">
  <!-- REVOLUTION LAYERS STYLES -->
  <link rel="stylesheet" type="text/css" href="{{ catalog }}catalog/view/theme/journal3/lib/revolution/css/layers.css">

  <!-- REVOLUTION NAVIGATION STYLES -->
  <link rel="stylesheet" type="text/css" href="{{ catalog }}catalog/view/theme/journal3/lib/revolution/css/navigation.css">

  <!-- REVOLUTION JS FILES -->
  <script type="text/javascript" src="{{ catalog }}catalog/view/theme/journal3/lib/revolution/js/jquery.themepunch.tools.min.js"></script>
  <script type="text/javascript" src="{{ catalog }}catalog/view/theme/journal3/lib/revolution/js/jquery.themepunch.revolution.min.js"></script>

  <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
          (Load Extensions only on Local File Systems !
          The following part can be removed on Server for On Demand Loading) -->
  <script type="text/javascript" src="{{ catalog }}catalog/view/theme/journal3/lib/revolution/js/extensions/revolution.extension.actions.min.js"></script>
  <script type="text/javascript" src="{{ catalog }}catalog/view/theme/journal3/lib/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
  <script type="text/javascript" src="{{ catalog }}catalog/view/theme/journal3/lib/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script type="text/javascript" src="{{ catalog }}catalog/view/theme/journal3/lib/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script type="text/javascript" src="{{ catalog }}catalog/view/theme/journal3/lib/revolution/js/extensions/revolution.extension.migration.min.js"></script>
  <script type="text/javascript" src="{{ catalog }}catalog/view/theme/journal3/lib/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
  <script type="text/javascript" src="{{ catalog }}catalog/view/theme/journal3/lib/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
  <script type="text/javascript" src="{{ catalog }}catalog/view/theme/journal3/lib/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script type="text/javascript" src="{{ catalog }}catalog/view/theme/journal3/lib/revolution/js/extensions/revolution.extension.video.min.js"></script>
</head>

<body>
<!-- SLIDER EXAMPLE -->
<section class="example">
  <article class="content">

    <div id="rev_slider_113_1_wrapper" class="rev_slider_wrapper" data-alias="slide-transitions" style="margin:0 auto;background-color:#000000;padding:0px;margin-top:0px;margin-bottom:0px;">
      <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
      <div id="rev_slider_113_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
        <ul>
          <li data-index="rs-189" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/bigbold_2.jpg" data-rotate="0" data-saveperformance="off" data-title="Fade" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/bigbold_2.jpg" alt="" title="bigbold_2.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-190" data-transition="crossfade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/bike.jpg" data-rotate="0" data-saveperformance="off" data-title="Fade Cross" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/bike.jpg" alt="" title="bike.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-191" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/gym1.jpg" data-rotate="0" data-saveperformance="off" data-title="Fade Through Black" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/gym1.jpg" alt="" title="gym1.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-192" data-transition="fadethroughlight" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/full_5.jpg" data-rotate="0" data-saveperformance="off" data-title="Fade Through Light" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/full_5.jpg" alt="" title="full_5.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-193" data-transition="fadethroughtransparent" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/citybg.jpg" data-rotate="0" data-saveperformance="off" data-title="Fade Through Transparent" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/citybg.jpg" alt="" title="citybg.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-194" data-transition="slideup" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newscarousel6.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide To Top" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newscarousel6.jpg" alt="" title="newscarousel6.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-195" data-transition="slidedown" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/icebg.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide To Bottom" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/icebg.jpg" alt="" title="icebg.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-196" data-transition="slideright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg1.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide To Right" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg1.jpg" alt="" title="newspaper_bg1.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-197" data-transition="slideleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg2.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide To Left" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg2.jpg" alt="" title="newspaper_bg2.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-198" data-transition="slidehorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg3.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Horizontal (Next/Previous)" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg3.jpg" alt="" title="newspaper_bg3.jpg" width="1920" height="1440" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-199" data-transition="slidevertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg1.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Vertical (Next/Previous)" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg1.jpg" alt="" title="notgeneric_bg1.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-200" data-transition="slideoverup" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg2.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Over To Top" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg2.jpg" alt="" title="notgeneric_bg2.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-201" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg3.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Over To Bottom" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg3.jpg" alt="" title="notgeneric_bg3.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-202" data-transition="slideoverright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg5.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Over To Riight" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg5.jpg" alt="" title="notgeneric_bg5.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-203" data-transition="slideoverleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgenericherobg.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Over To Left" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgenericherobg.jpg" alt="" title="notgenericherobg.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-204" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/photography4.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Over Horizontal (Next/Previous)" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/photography4.jpg" alt="" title="photography4.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-205" data-transition="slideoververtical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/office_cover.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Over Vertical (Next/Previous)" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/office_cover.jpg" alt="" title="office_cover.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-206" data-transition="slideremoveup" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/photography5.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Remove To Top" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/photography5.jpg" alt="" title="photography5.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-207" data-transition="slideremovedown" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/pierbg.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Remove To Bottom" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/pierbg.jpg" alt="" title="pierbg.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-208" data-transition="slideremoveright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/restaurant_bg_1.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Remove To Right" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/restaurant_bg_1.jpg" alt="" title="restaurant_bg_1.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-209" data-transition="slideremoveleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/project_1.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Remove To Left" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/project_1.jpg" alt="" title="project_1.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-210" data-transition="slideremovehorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/restaurant_bg_2.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Remove Horizontal (Next/Previous)" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/restaurant_bg_2.jpg" alt="" title="restaurant_bg_2.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-211" data-transition="slideremovevertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/project_3.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Remove Vertical (Next/Previous)" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/project_3.jpg" alt="" title="project_3.jpg" width="1920" height="1085" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-212" data-transition="slidingoverlayup" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/Sail-Away.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Overlays To Top" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/Sail-Away.jpg" alt="" title="Sail-Away.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-213" data-transition="slidingoverlaydown" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/typing_cover.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Overlays To Bottom" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/typing_cover.jpg" alt="" title="typing_cover.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-214" data-transition="slidingoverlayright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/bigbold_2.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Overlays To Right" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/bigbold_2.jpg" alt="" title="bigbold_2.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-215" data-transition="slidingoverlayleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/bike.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Overlays To Left" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/bike.jpg" alt="" title="bike.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-216" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/gym1.jpg" data-rotate="0" data-saveperformance="off" data-title="Sliding Overlays Horizontal (Next/Previous)" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/gym1.jpg" alt="" title="gym1.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-217" data-transition="slidingoverlayvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/full_5.jpg" data-rotate="0" data-saveperformance="off" data-title="Sliding Overlays Vertical (Next/Previous)" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/full_5.jpg" alt="" title="full_5.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-218" data-transition="boxslide" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/citybg.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Boxes" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/citybg.jpg" alt="" title="citybg.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-219" data-transition="slotslide-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newscarousel6.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Slots Horizontal" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newscarousel6.jpg" alt="" title="newscarousel6.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-220" data-transition="slotslide-vertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/icebg.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide Slots Vertical" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/icebg.jpg" alt="" title="icebg.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-221" data-transition="boxfade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg1.jpg" data-rotate="0" data-saveperformance="off" data-title="Fade Boxes" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg1.jpg" alt="" title="newspaper_bg1.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-222" data-transition="slotfade-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg2.jpg" data-rotate="0" data-saveperformance="off" data-title="Fade Slots Horizontal" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg2.jpg" alt="" title="newspaper_bg2.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-223" data-transition="slotfade-vertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg3.jpg" data-rotate="0" data-saveperformance="off" data-title="Fade Slots Veritcal" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg3.jpg" alt="" title="newspaper_bg3.jpg" width="1920" height="1440" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-224" data-transition="fadefromright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg1.jpg" data-rotate="0" data-saveperformance="off" data-title="Fade and Slide from Right" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg1.jpg" alt="" title="notgeneric_bg1.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-225" data-transition="fadefromleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg2.jpg" data-rotate="0" data-saveperformance="off" data-title="Fade and Slide from Left" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg2.jpg" alt="" title="notgeneric_bg2.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-226" data-transition="fadefromtop" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg3.jpg" data-rotate="0" data-saveperformance="off" data-title="Fade and Slide from Top" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg3.jpg" alt="" title="notgeneric_bg3.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-227" data-transition="fadefrombottom" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg5.jpg" data-rotate="0" data-saveperformance="off" data-title="Fade and Slide from Bottom" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg5.jpg" alt="" title="notgeneric_bg5.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-228" data-transition="fadetoleftfadefromright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgenericherobg.jpg" data-rotate="0" data-saveperformance="off" data-title="To Left From Right" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgenericherobg.jpg" alt="" title="notgenericherobg.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-229" data-transition="fadetorightfadefromleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/photography4.jpg" data-rotate="0" data-saveperformance="off" data-title="To Right From Left" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/photography4.jpg" alt="" title="photography4.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-230" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/office_cover.jpg" data-rotate="0" data-saveperformance="off" data-title="To Top From Bottom" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/office_cover.jpg" alt="" title="office_cover.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-231" data-transition="fadetobottomfadefromtop" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/photography5.jpg" data-rotate="0" data-saveperformance="off" data-title="To Bottom From Top" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/photography5.jpg" alt="" title="photography5.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-232" data-transition="parallaxtoright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/pierbg.jpg" data-rotate="0" data-saveperformance="off" data-title="Parallax to Right" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/pierbg.jpg" alt="" title="pierbg.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-233" data-transition="parallaxtoleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/restaurant_bg_1.jpg" data-rotate="0" data-saveperformance="off" data-title="Parallax to Left" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/restaurant_bg_1.jpg" alt="" title="restaurant_bg_1.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-234" data-transition="parallaxtotop" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/project_1.jpg" data-rotate="0" data-saveperformance="off" data-title="Parallax to Top" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/project_1.jpg" alt="" title="project_1.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-235" data-transition="parallaxtobottom" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/restaurant_bg_2.jpg" data-rotate="0" data-saveperformance="off" data-title="Parallax to Bottom" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/restaurant_bg_2.jpg" alt="" title="restaurant_bg_2.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-236" data-transition="parallaxhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/project_3.jpg" data-rotate="0" data-saveperformance="off" data-title="Parallax Horizontal" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/project_3.jpg" alt="" title="project_3.jpg" width="1920" height="1085" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-237" data-transition="parallaxvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/Sail-Away.jpg" data-rotate="0" data-saveperformance="off" data-title="Parallax Vertical" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/Sail-Away.jpg" alt="" title="Sail-Away.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-238" data-transition="scaledownfromright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/typing_cover.jpg" data-rotate="0" data-saveperformance="off" data-title="Zoom Out and Fade from Right" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/typing_cover.jpg" alt="" title="typing_cover.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-239" data-transition="scaledownfromleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/bigbold_2.jpg" data-rotate="0" data-saveperformance="off" data-title="Zoom Out and Fade From Left" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/bigbold_2.jpg" alt="" title="bigbold_2.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-240" data-transition="scaledownfromtop" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/bike.jpg" data-rotate="0" data-saveperformance="off" data-title="Zoom Out and Fade From Top" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/bike.jpg" alt="" title="bike.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-241" data-transition="scaledownfrombottom" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/gym1.jpg" data-rotate="0" data-saveperformance="off" data-title="Zoom Out and Fade From Bottom" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/gym1.jpg" alt="" title="gym1.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-242" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/full_5.jpg" data-rotate="0" data-saveperformance="off" data-title="Zoom Out" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/full_5.jpg" alt="" title="full_5.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-243" data-transition="zoomin" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/citybg.jpg" data-rotate="0" data-saveperformance="off" data-title="Zoom In" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/citybg.jpg" alt="" title="citybg.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-244" data-transition="slotzoom-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newscarousel6.jpg" data-rotate="0" data-saveperformance="off" data-title="Zoom Slots Horizontal" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newscarousel6.jpg" alt="" title="newscarousel6.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-245" data-transition="slotzoom-vertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/icebg.jpg" data-rotate="0" data-saveperformance="off" data-title="Zoom Slots Vertical" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/icebg.jpg" alt="" title="icebg.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-246" data-transition="curtain-1" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg1.jpg" data-rotate="0" data-saveperformance="off" data-title="Curtain from Left" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg1.jpg" alt="" title="newspaper_bg1.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-247" data-transition="curtain-2" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg2.jpg" data-rotate="0" data-saveperformance="off" data-title="Curtain from Right" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg2.jpg" alt="" title="newspaper_bg2.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-248" data-transition="curtain-3" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg3.jpg" data-rotate="0" data-saveperformance="off" data-title="Curtain from Middle" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/newspaper_bg3.jpg" alt="" title="newspaper_bg3.jpg" width="1920" height="1440" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-249" data-transition="3dcurtain-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg1.jpg" data-rotate="0" data-saveperformance="off" data-title="3D Curtain Horizontal" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg1.jpg" alt="" title="notgeneric_bg1.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-250" data-transition="3dcurtain-vertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg2.jpg" data-rotate="0" data-saveperformance="off" data-title="3D Curtain Vertical" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg2.jpg" alt="" title="notgeneric_bg2.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-251" data-transition="cube" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg3.jpg" data-rotate="0" data-saveperformance="off" data-title="Cube Vertical" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg3.jpg" alt="" title="notgeneric_bg3.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-252" data-transition="cube-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg5.jpg" data-rotate="0" data-saveperformance="off" data-title="Cube Horizontal" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgeneric_bg5.jpg" alt="" title="notgeneric_bg5.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-253" data-transition="incube" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgenericherobg.jpg" data-rotate="0" data-saveperformance="off" data-title="In Cube Vertical" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/notgenericherobg.jpg" alt="" title="notgenericherobg.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-254" data-transition="incube-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/photography4.jpg" data-rotate="0" data-saveperformance="off" data-title="In Cube Horizontal" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/photography4.jpg" alt="" title="photography4.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-255" data-transition="turnoff" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/office_cover.jpg" data-rotate="0" data-saveperformance="off" data-title="TurnOff Horizontal" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/office_cover.jpg" alt="" title="office_cover.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-256" data-transition="turnoff-vertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/photography5.jpg" data-rotate="0" data-saveperformance="off" data-title="TurnOff Vertical" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/photography5.jpg" alt="" title="photography5.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-257" data-transition="papercut" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/pierbg.jpg" data-rotate="0" data-saveperformance="off" data-title="Paper Cut" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/pierbg.jpg" alt="" title="pierbg.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-258" data-transition="flyin" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/restaurant_bg_1.jpg" data-rotate="0" data-saveperformance="off" data-title="Fly In" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/restaurant_bg_1.jpg" alt="" title="restaurant_bg_1.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-260" data-transition="random-static" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/restaurant_bg_2.jpg" data-rotate="0" data-saveperformance="off" data-title="Random Flat" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/restaurant_bg_2.jpg" alt="" title="restaurant_bg_2.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-261" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/project_3.jpg" data-rotate="0" data-saveperformance="off" data-title="Random Premium" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/project_3.jpg" alt="" title="project_3.jpg" width="1920" height="1085" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>

          <li data-index="rs-262" data-transition="random" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/Sail-Away.jpg" data-rotate="0" data-saveperformance="off" data-title="Random Flat and Premium" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="//cdntphome-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/slide-transitions/Sail-Away.jpg" alt="" title="Sail-Away.jpg" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          </li>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
      </div>
    </div><!-- END REVOLUTION SLIDER -->
    <script type="text/javascript">
      var tpj = jQuery;
      var revapi113;
      tpj(document).ready(function () {
        tpj('#rev_slider_113_1').find('li').each(function () {
          var li = jQuery(this),
            o = new Object();
          o = jQuery.extend(o, li.data());
          li.data('saved', o);
        });

        if (tpj("#rev_slider_113_1").revolution == undefined) {
          revslider_showDoubleJqueryError("#rev_slider_113_1");
        } else {
          revapi113 = tpj("#rev_slider_113_1").show().revolution({
            sliderType: "standard",
            jsFileLocation: "../../revolution/js/",
            sliderLayout: "auto",
            dottedOverlay: "none",
            delay: 4000,
            navigation: {
              keyboardNavigation: "off",
              keyboard_direction: "horizontal",
              mouseScrollNavigation: "off",
              onHoverStop: "off",
              arrows: {
                style: "uranus",
                enable: true,
                hide_onmobile: false,
                hide_under: 778,
                hide_onleave: true,
                hide_delay: 200,
                hide_delay_mobile: 1200,
                tmp: '',
                left: {
                  h_align: "left",
                  v_align: "center",
                  h_offset: 20,
                  v_offset: 0
                },
                right: {
                  h_align: "right",
                  v_align: "center",
                  h_offset: 20,
                  v_offset: 0
                }
              }
              ,
              thumbnails: {
                style: "post-tabs",
                enable: true,
                width: 255,
                height: 43,
                min_width: 255,
                wrapper_padding: 10,
                wrapper_color: "#373737",
                wrapper_opacity: "1",
                tmp: '<span class="tp-thumb-over"></span><span class="tp-thumb-title">{{'{{title}}'}}</span><span class="tp-thumb-more"></span>',
                visibleAmount: 15,
                hide_onmobile: true,
                // hide_under: 800,
                hide_onleave: false,
                direction: "vertical",
                span: true,
                position: "outer-right",
                space: 5,
                h_align: "right",
                v_align: "top",
                h_offset: 0,
                v_offset: 0
              }
            },
            gridwidth: 800,
            gridheight: 440,
            lazyType: "single",
            shadow: 0,
            spinner: "off",
            stopLoop: "on",
            stopAfterLoops: 0,
            stopAtSlide: 1,
            shuffle: "off",
            autoHeight: "off",
            disableProgressBar: "on",
            hideThumbsOnMobile: "on",
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            debugMode: false,
            fallbacks: {
              simplifyAll: "off",
              nextSlideOnWindowFocus: "off",
              disableFocusListener: false,
            }
          });
        }

        revapi113.bind('revolution.slide.onafterswap', function (e, d) {
          var datas, txt;
          txt = "";
          jQuery.each(d.currentslide.data('saved'), function (k, v) {
            if (k !== undefined)
              txt = "<strong>data-" + k + "=</strong>'" + v + "' " + txt;
          });
          txt = '<span class="markup">&lt;li </span>' + txt + '<span class="markup">&gt;</span><br>';
          txt = txt + '&nbsp;&nbsp;<span class="markup">&lt;img</span> <strong>src=</strong>"{{ catalog }}catalog/view/theme/journal3/lib/revolution/assets/images/newscarousel6.jpg"  <strong>alt=</strong>"" <strong>data-bgposition=</strong>"center center" <strong>data-bgfit=</strong>"cover" <strong>data-bgrepeat=</strong>"no-repeat" <strong>class=</strong>"rev-slidebg" <span class="markup">&gt;</span><br>';
          txt = txt + '<span class="markup">&lt;/li&gt;</span>';
          jQuery('#selected-transition').html(txt);

        });

        var index = $('ul li').index($('li[data-transition="{{ transition }}"]'));
        $('div[data-liindex="' + index + '"]').addClass('selected');

        revapi113.bind('revolution.slide.onloaded', function (e, d) {
          $('div[data-liindex="' + index + '"]').trigger('click');
        });

        jQuery('.tp-thumbs-inner-wrapper').delegate('> div', 'click', function () {
          var index = $(this).attr('data-liindex');
          var transition = $('.tp-revslider-mainul li').eq(index).attr('data-transition');
          try {
            window.parent.onTransitionSelect(transition);
          } catch (e) {
          }
        });
      });
      /*ready*/
    </script>
  </article>
</section>
<style>
  body{
    margin:0;
    padding: 0;
  }
  .rev_slider_wrapper{
    max-width: 900px;
    max-height:349px;
    overflow: hidden !important;
  }
  .tp-thumb-mask{
    overflow-y: auto !important;
    max-height: 329px !important;
  }
  .tp-thumbs-inner-wrapper{
    max-width:230px;
    top: 0 !important;
  }
</style>
</body>
</html>
